<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mentoring program</title>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans|Gloria+Hallelujah"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" th:href="@{/css/basic.css}"/>
	<link rel="stylesheet" th:href="@{/css/buttons.css}"/>
	<link rel="stylesheet" th:href="@{/css/profile.css}"/>
	<link rel="stylesheet" th:href="@{/css/autocomplete.css}"/>
	<link rel="stylesheet" th:href="@{/css/ml3.css}"/>
	<script th:src="@{/js/autocomplete.js}" type="text/javascript"></script>
</head>
<body class="bg-color custom-font">
	<div class="header">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="bg-content">
		<h4 class="centered-title ml3">MENTORSHIP PROFILE</h4>
		<div class="content">
			<div class="row">
				<div th:replace="fragments/mentorshipMenu :: mentorshipMenu"></div>
				<div class="column right">
					<form th:action="@{/mentorship-sessions/} + ${menteeName}" th:object="${mentorship}" method="post">
						<div class="form-group row">
							<label for="mentor" class="col-sm-2 col-form-label">Mentor:</label>
							<div class="col-sm-10">
								<input th:field="*{mentorName}" type="text" class="form-control" id="mentor" th:placeholder="${mentorship.mentorName}" th:value="${mentorship.mentorName}">
							</div>
						</div>
						<div class="form-group row">
							<label for="staticMentee" class="col-sm-2 col-form-label">Mentee:</label>
							<div class="col-sm-10">
								<input th:field="*{menteeName}" type="text" readonly class="form-control-plaintext" id="staticMentee" th:value="${mentorship.menteeName}">
							</div>
						</div>
						<div class="form-group row">
							<label for="startDate" class="col-sm-2 col-form-label">Start date:</label>
							<div class="col-sm-10">
								<input th:field="*{startDate}" id="startDate" width="276" th:value="${mentorship.startDate}">
							</div>
						</div>
						<div class="form-group row">
							<label for="endDate" class="col-sm-2 col-form-label">End date:</label>
							<div class="col-sm-10">
								<input th:field="*{endDate}" id="endDate" width="276" />
							</div>
						</div>
						<div class="form-group row">
							<label for="staticTestResult" class="col-sm-2 col-form-label">Final test (%):</label>
							<div class="col-sm-10">
								<input th:field="*{result}" type="text" readonly class="form-control-plaintext" id="staticTestResult" th:value="${mentorship.result}">
							</div>
						</div>
						<button type="submit" class="btn button-primary">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
        /*<![CDATA[*/

        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4'
        });

        var participants = [[${usersName}]];

        autocomplete(document.getElementById("mentor"), participants);
        /*]]>*/
	</script>
</body>
