<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mentoring program</title>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans|Gloria+Hallelujah"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/basic.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/ml3.css}"/>
</head>
<body class="bg-color custom-font">
	<div class="header">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="bg-content">
		<h4 class="centered-title ml3">MENTORSHIP PROFILE</h4>
		<div class="content">
			<div class="row">
				<div th:replace="fragments/mentorshipMenu :: mentorshipMenu"></div>
				<div class="column right">
					<form>
						<div class="form-group row">
							<label for="staticMentor" class="col-sm-2 col-form-label">Mentor:</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticMentor" th:value="${mentorship.mentorName}">
							</div>
						</div>
						<div class="form-group row">
							<label for="staticMentee" class="col-sm-2 col-form-label">Mentee:</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticMentee" th:value="${mentorship.menteeName}">
							</div>
						</div>
						<div class="form-group row">
							<label for="staticStartDate" class="col-sm-2 col-form-label">Start date:</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticStartDate" th:value="${mentorship.startDate}">
							</div>
						</div>
						<div class="form-group row">
							<label for="staticEndDate" class="col-sm-2 col-form-label">End date:</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticEndDate" th:value="${#strings.isEmpty(mentorship.endDate)} ? 'IN PROGRESS' : ${mentorship.endDate}">
							</div>
						</div>
						<div class="form-group row">
							<label for="staticTestResult" class="col-sm-2 col-form-label">Final test (%):</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticTestResult"
									   th:value="${mentorship.result == null}? '-' : ${mentorship.result}">
								<span th:if="${mentorship.result != null}">
									<a th:href="@{/mentorship-sessions/details/} + ${mentorship.menteeName}">Final test details</a>
								</span>
							</div>
						</div>
						<div>
							<a th:href="@{/mentorship-sessions}" class="btn button-primary button-right-margin">Back</a>
							<a th:href="@{/mentorship-sessions/update/} + ${mentorship.menteeName}" class="btn button-primary button-right-margin">Update</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
