<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" th:href="@{/css/basic.css}"/>
	<link
	href="https://fonts.googleapis.com/css?family=Encode+Sans|Gloria+Hallelujah"
		rel="stylesheet">
</head>
<br>
<footer class="page-footer font-small blue pt-6 mt-6 footer-blue-absolute ">
	<div class="footer-copyright text-center py-4"> &copy
		2019 Dandelion Development
	</div>
</footer>
</html>
