<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>How To</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans|Gloria+Hallelujah"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/basic.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/chapter.css}"/>
    <link rel="stylesheet" th:href="@{/css/ml3.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script th:src="@{/js/animation_program.js}" type="text/javascript"></script>

</head>
<body class="bg-color custom-font">
<div class="header">
    <div th:replace="fragments/header :: header"></div>
    <div class="content">
        <h3 class="centered-title ml3">How To</h3>
        <div class="content">
            <div class="row">
                <div class="column left">
                    <div class="centered">
                        <img width="250px" height="100px" th:src="@{/images/howTo.png}" alt="Chapter image">
                    </div>
                </div>
                <div class="column right">
                    <nav>
                        <div class="nav nav-pills" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-desktop-tab pill"
                               data-toggle="tab" href="#nav-desktop" role="tab"
                               aria-controls="nav-desktop" aria-selected="true">Desktop</a>
                            <a class="nav-item nav-link " id="nav-mobile-tab pill"
                               data-toggle="tab" href="#nav-mobile" role="tab"
                               aria-controls="nav-mobile" aria-selected="false">Mobile</a>
                            <a class="nav-item nav-link " id="nav-connectedTV-tab pill"
                               data-toggle="tab" href="#nav-connectedTV" role="tab"
                               aria-controls="nav-connectedTV" aria-selected="false">Connected TV</a>
                            <a class="nav-item nav-link " id="nav-bash-tab pill"
                               data-toggle="tab" href="#nav-bash" role="tab"
                               aria-controls="nav-bash" aria-selected="false">Bash</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-desktop"
                             role="tabpanel" aria-labelledby="nav-desktop-tab">
                            <div class="tab-content-block">
                                <div id="tab-content">
                                    <ul class="list-bullet">
                                        <th:block th:each="category : ${howToCategories}">
                                            <span th:if="${#strings.equals(category.name,'Desktop')}"
                                                  th:block th:each="item : ${category.howToItems}">
                                                <li>
                                                    <a th:href="${item.url}"><font color ="#212529"
                                                                                                th:utext="${item.question}">Desktop questions</font></a>
                                                </li>
                                            </span>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-mobile" role="tabpanel"
                             aria-labelledby="nav-mobile-tab">
                            <div class="tab-content-block">
                                <ul class="list-bullet">
                                    <th:block th:each="category : ${howToCategories}">
                                            <span th:if="${#strings.equals(category.name,'Mobile')}"
                                                  th:block th:each="item : ${category.howToItems}">
                                                <li>
                                                    <a th:href="${item.url}"><font color ="#212529"
                                                                                                th:utext="${item.question}">Mobile questions</font></a>
                                                </li>
                                            </span>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-connectedTV" role="tabpanel"
                             aria-labelledby="nav-connectedTV-tab">
                            <div class="tab-content-block">
                                <ul class="list-bullet">
                                    <th:block th:each="category : ${howToCategories}">
                                            <span th:if="${#strings.equals(category.name,'Connected TV')}"
                                                  th:block th:each="item : ${category.howToItems}">
                                                <li>
                                                    <a th:href="${item.url}"><font color ="#212529"
                                                                                                th:utext="${item.question}">Connected TV questions</font></a>
                                                </li>
                                            </span>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-bash" role="tabpanel"
                             aria-labelledby="nav-bash-tab">
                            <div class="tab-content-block">
                                <ul class="list-bullet">
                                <th:block th:each="category : ${howToCategories}">
                                            <span th:if="${#strings.equals(category.name,'Bash')}"
                                                  th:block th:each="item : ${category.howToItems}">
                                                <li>
                                                    <a th:href="${item.url}"><font color ="#212529"
                                                                                                th:utext="${item.question}">Bash questions</font></a>
                                                </li>
                                          </span>
                                </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-text-center">
        <div class="buttons-right">
            <a href="#" th:href="@{/fullprogram}" class="btn btn-dark pulse float-right button-right-margin">Back to program</a>
        <br>
        </div>
    </div>
</div>
<div class="footer">
    <div th:replace="fragments/footer-absolute :: footer"></div>
</div>
</body>
</html>
